@model List<DFEitechLibrary.Models.BookType>
@{
}

<div>
    <h4>Search Refinement</h4>
    <ul class="nav navbar-nav">
        <li>
            @using (Html.BeginForm("ListTypesById", "Type"))
            {
                <input type="submit" value="By ID" /><br />
            <select name="id">
                <option value="" selected></option>
                @foreach (var bookType in Model)
                {
                <option value=@bookType.Id>@bookType.Id</option>
                }
            </select>
            }
        </li>
        <li>
            @using (Html.BeginForm("ListTypesByName", "Type"))
            {
                <input type="submit" value="By Name" /><br />
                <select name="name">
                <option value="" selected></option>
                    @foreach (var bookType in Model)
                    {
                        <option value=@bookType.Name>@bookType.Name</option>
                    }
                </select>
            }
        </li>
        <li>
            @using (Html.BeginForm("ListTypesByDuration", "Type"))
            {
                <input type="submit" value="By Duration" /><br />
                <select name="duration">
                    <option value="" selected></option>
                    @foreach (var bookType in Model)
                    {
                        <option value=@bookType.Duration>@bookType.Duration</option>
                    }
                </select>
            }
        </li>
        <li>
            @using (Html.BeginForm("ListTypesByPenalty", "Type"))
            {
                <input type="submit" value="By Penalty" /><br />
                <select name="penalty">
                    <option value="" selected></option>
                    @foreach (var bookType in Model)
                    {
                        <option value=@bookType.Penalty>@bookType.Penalty</option>
                    }
                </select>
            }
        </li>
    </ul>
    <br />
    
</div>