@model IEnumerable<DFEitechLibrary.Models.BookType>
@{
    ViewBag.Title = "ListTypes";
    var wb = new WebGrid(source: Model, columnNames: new[] { "Id", "Name", "Duration", "Penalty" });
}

<div class="listBlock">
    @Html.Partial("_SearchTypes")
    <br />
    <br />
</div>

<div class="listBlock">
    <div class="white">
        @wb.GetHtml(columns: wb.Columns(
         wb.Column(columnName: "Id", header: "ID#"),
         wb.Column(columnName: "Name", header: "Name"),
         wb.Column(columnName: "Duration", header: "Duration"),
         wb.Column(columnName: "Penalty", header: "Penalty")
         ))
    </div>
</div>

<div>
    @Html.Partial("_TypeForm", new DFEitechLibrary.Models.BookType())
</div>