@model IEnumerable<DFEitechLibrary.Models.BookType>
@{
    ViewBag.Title = "RefinedTypes";
    var wb = new WebGrid(source: Model, columnNames: new[] { "Id", "Name", "Duration", "Penalty" });
}

<h2>RefinedSearches</h2>
<div>
    <h2>ListBookTypes</h2>
    @wb.GetHtml(columns: wb.Columns(
            wb.Column(columnName: "Id", header: "ID#"),
            wb.Column(columnName: "Name", header: "Name"),
            wb.Column(columnName: "Duration", header: "Duration"),
            wb.Column(columnName: "Penalty", header: "Penalty")
            ))
</div>

<div>
    @Html.Partial("_SearchTypes")
</div>

